[workspace]
resolver = "2"
members = ["crates/*"]

[package]
name = "pliron"
description = "Programming Languages Intermediate RepresentatiON"
version.workspace = true
edition.workspace = true
repository.workspace = true
readme.workspace = true
keywords.workspace = true
categories.workspace = true
license.workspace = true

[workspace.package]
version = "0.1.7"
edition = "2021"
license = "Apache-2.0"
readme = "README.md"
repository = "https://github.com/vaivaswatha/pliron"
categories = ["compilers"]
keywords = ["pliron", "llvm", "mlir", "compiler"]

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
pliron-derive.workspace = true

generational-arena = "0.2"
downcast-rs = "1.2.0"
rustc-hash = "1.1.0"
thiserror = "1.0.49"
# clap = "4.1.6"
apint = "0.2.0"
sorted_vector_map = "0.1.0"
intertrait = "0.2.2"
# Required by intertrait
linkme = "0.2"
paste = "1.0"
inventory = "0.3"
combine = "4.6.6"
regex = "1.10.2"
dyn-clone = "1.0.16"

[workspace.dependencies]
pliron-derive = { path = "crates/derive" }


[dev-dependencies]
expect-test = "1.4.0"

