name: pliron

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    name: pliron CI
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: dtolnay/rust-toolchain@stable

    - name: Setup LLVM
      run: |
        wget https://apt.llvm.org/llvm.sh
        chmod +x llvm.sh
        sudo ./llvm.sh 17
        sudo apt-get install libpolly-17-dev

    - name: Build
      run: RUSTFLAGS="-D warnings" cargo build --workspace --verbose

    - name: Run tests
      run: cargo test --workspace --verbose

    - name: Clippy
      run: cargo clippy --workspace -- -D warnings

    - name: Code format
      run: cargo fmt --check

    - name: Documentation
      run: RUSTDOCFLAGS="-D warnings" cargo doc --workspace
