name: pliron

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  llvm:
    name: Install LLVM repositories Ubuntu
    runs-on: ubuntu-latest
    steps:
    - run: |
        wget https://apt.llvm.org/llvm.sh
        chmod +x llvm.sh
        sudo ./llvm.sh 17

  build:
    name: Build
    runs-on: ubuntu-latest
    needs: llvm
    steps:
    - uses: actions/checkout@v3
    - uses: dtolnay/rust-toolchain@stable
    - run: RUSTFLAGS="-D warnings" cargo build --workspace --verbose

  tests:
    name: Run tests
    runs-on: ubuntu-latest
    needs: build
    steps:
    - uses: actions/checkout@v3
    - uses: dtolnay/rust-toolchain@stable
    - run: cargo test --workspace --verbose

  clippy:
    name: Clippy
    runs-on: ubuntu-latest
    needs: build
    steps:
    - uses: actions/checkout@v3
    - uses: dtolnay/rust-toolchain@stable
    - run: cargo clippy --workspace -- -D warnings

  format:
    name: Code format
    runs-on: ubuntu-latest
    needs: build
    steps:
    - uses: actions/checkout@v3
    - uses: dtolnay/rust-toolchain@stable
    - run: cargo fmt --check

  docs:
    name: Documentation
    runs-on: ubuntu-latest
    needs: build
    steps:
    - uses: actions/checkout@v3
    - uses: dtolnay/rust-toolchain@stable
    - run: RUSTDOCFLAGS="-D warnings" cargo doc --workspace
