name: pliron

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    name: Build and Test
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3

    - uses: dtolnay/rust-toolchain@stable
      with:
        targets: wasm32-unknown-unknown

    - uses: Swatinem/rust-cache@v2

    - name: Install cargo-binstall
      uses: taiki-e/install-action@v2
      with:
        tool: cargo-binstall

    - name: Install wasm-bindgen-cli
      run: |
        cargo binstall -y wasm-bindgen-cli --version 0.2 --force
        wasm-bindgen --version

    - uses: actions/setup-node@v6
      with:
        node-version: 24

    - name: Setup LLVM
      run: |
        wget https://apt.llvm.org/llvm.sh
        chmod +x llvm.sh
        sudo ./llvm.sh 21 all

    - name: Format
      run: cargo fmt --check

    - name: Clippy
      run: cargo clippy --workspace --all-targets -- -D warnings

    - name: Build
      run: RUSTFLAGS="-D warnings" cargo build --workspace --verbose

    # We don't need to support pliron-llvm on WASM
    - name: Build Wasm Target
      run: RUSTFLAGS="-D warnings" cargo build -p pliron -p pliron-derive --target wasm32-unknown-unknown --verbose

    - name: Tests (Debug)
      run: cargo test --workspace --verbose

    - name: Tests (Release)
      run: cargo test --release --workspace --verbose

    - name: WASM Tests (Debug)
      run: cargo test --target wasm32-unknown-unknown

    - name: WASM Tests (Release)
      run: cargo test --release --target wasm32-unknown-unknown

    - name: Documentation
      run: RUSTDOCFLAGS="-D warnings" cargo doc --workspace

